import type { ComponentPropsWithRef } from "react";

import { {{ camelCase name }}Variants } from "./{{ kebabCase name }}.styles";
import type { {{ pascalCase name }}Variants } from "./{{ kebabCase name }}.styles";

export interface {{ pascalCase name }}Props
  extends ComponentPropsWithRef<"div">,
    {{ pascalCase name }}Variants {
  className?: string;
}

export const {{ pascalCase name }} = (props: Readonly<{{ pascalCase name }}Props>) => {
  const { children, className, ...rest } = props;

  const resolvedClassName = {{ camelCase name }}Variants({ class: className });

  return (
    <div data-slot="{{ kebabCase name }}" className={resolvedClassName} {...rest}>
      {children}
    </div>
  );
};
{{#if compound}}
{{#each subparts}}

export interface {{ pascalCase ../name }}{{ this }}Props
  extends ComponentPropsWithRef<"div"> {
  className?: string;
}

export const {{ pascalCase ../name }}{{ this }} = (
  props: Readonly<{{ pascalCase ../name }}{{ this }}Props>,
) => {
  const { children, className, ...rest } = props;

  return (
    <div
      data-slot="{{ kebabCase ../name }}-{{ kebabCase this }}"
      className={className}
      {...rest}
    >
      {children}
    </div>
  );
};
{{/each}}
{{/if}}
