import type { ComponentPropsWithRef } from "react";

import { {{ camelCase name }}Variants } from "./{{ kebabCase name }}.variants";
import type { {{ pascalCase name }}Variants } from "./{{ kebabCase name }}.variants";

export interface {{ pascalCase name }}Props
  extends ComponentPropsWithRef<"button">,
    {{ pascalCase name }}Variants {
  className?: string;
}

export const {{ pascalCase name }} = (props: Readonly<{{ pascalCase name }}Props>) => {
  const { children, className, size, ...rest } = props;

  const resolvedClassName = {{ camelCase name }}Variants({ size, className });

  return (
    <button data-slot="{{ kebabCase name }}" className={resolvedClassName} {...rest}>
      {children}
    </button>
  );
};
